<a
    href="{{ (data.linkOverride) ? data.linkOverride : data.link }}"
    class="btn {{ data.color }} {{ data.size }} {{ (data.outline) ? 'outline' : '' }} {{ data.style }} {{ data.classes }}"
>{{ data.text|raw }}</a>
